<form class="form-container">
  <mat-form-field>
    <mat-label>Categorie</mat-label>
    <input type="text"
           placeholder="Selectionner une catégorie"
           aria-label="Liste des Catégorie"
           matInput
           [formControl]="categorieFormControl"
           [matAutocomplete]="auto">
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete">
      @for (option of categories$ | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
