<div class="container">
  <h1 class="container--heading">Mon Panier</h1>
  @if (dataSource.data.length) {
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Column -->
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef>Nom Produit</th>
        <td mat-cell *matCellDef="let element"> {{ element.article.productName }}</td>
        <td mat-footer-cell *matFooterCellDef class="footer-tab-item"> Total </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="Qte">
        <th mat-header-cell *matHeaderCellDef> Qte</th>
        <td mat-cell *matCellDef="let element"> {{ element.qte }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="Taxes">
        <th mat-header-cell *matHeaderCellDef> Taxes</th>
        <td mat-cell *matCellDef="let element" > {{ element.article.taxes | roundNearest5Centime | currency: 'EUR' }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="footer-tab-item"> {{calculeTotaleTaxes() | roundNearest5Centime | currency: 'EUR'}} </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="PrixHT">
        <th mat-header-cell *matHeaderCellDef> Prix Unitaire HT</th>
        <td mat-cell *matCellDef="let element"> {{ element.article.price | formatNumber | currency: 'EUR' }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="PrixTTC">
        <th mat-header-cell *matHeaderCellDef> Prix Unitaire TTC</th>
        <td mat-cell *matCellDef="let element"> {{ element.article.prixUnitaireTTC | formatNumber | currency: 'EUR' }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="footer-tab-item">{{calculeTotaleTTC() | formatNumber | currency: 'EUR'}} </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button
                  aria-label="Accueil"
                  (click)="supprimerArticle(element.article)"
          >
            <mat-icon fontSet="fa"
                      fontIcon="fa-circle-minus"/>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  } @else {
    <p class="mat-body"> Panier vide </p>
  }
</div>
