.container{
  &--heading{
    text-align: center;
  }
  &--items {
    display: flex;
    flex-direction: column;
    /* Extra devices (laptops/desktops,large laptops and desktops, 768px and up) */
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .container-item {
      width: 100%;
      padding: 0 0 20px 20px;
      /* Extra devices (laptops/desktops,large laptops and desktops, 768px and up) */
      @media only screen and (min-width: 768px) {
        max-width: 30%;
      }
    }
  }
}
