<div class="container">
  <h1 class="container--heading">Liste des Articles</h1>
  <app-articles-filter [articles$]="filtredArticles$"
                       (categoryChanged)="onCategoryChanged($event)">
  </app-articles-filter>

  <div class="container--items">
    @for (article of filtredArticles$ | async; track article.id) {
      <app-article-card [article]="article"
                        class="container-item"/>
    }
  </div>
</div>
