<mat-card>
  <mat-card-header>
    <mat-card-title>{{ article.productName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Categorie: {{ article.category }}</p>
    <p>Prix: {{ article.price | currency: 'EUR' }}</p>
  </mat-card-content>
  <mat-card-actions class="bnt-actions">
    @if (qteDisponible) {
      <button mat-flat-button color="primary">Qte:{{ qteDisponible}}</button>
    } @else {
      <button mat-stroked-button disabled>non disponible</button>
    }
    <button mat-flat-button
            color="primary"
            (click)="openDialog(article)"
            [disabled]="!qteDisponible"
    >Ajouter</button>
  </mat-card-actions>
</mat-card>
