<h2 mat-dialog-title>Ajouter Article</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Quantité</mat-label>
    <input matInput type="number"
           [formControl]="quantityFormControl"
           min="1"
           #input
           [max]="dialogData.qteDisponible">
    @if (quantityFormControl.invalid) {
      <mat-error>Veuillez saisir une valeur entre 1 et {{dialogData.qteDisponible}}</mat-error>
    }
    @if (quantityFormControl.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetFormControl()">
        <mat-icon fontSet="fa"
                  class="fa-2x"
                  fontIcon="fa-circle-xmark">close
        </mat-icon>
      </button>
    }
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions class="bnt-actions">
  <button mat-button mat-dialog-close>Annuler</button>
  <button [mat-dialog-close]="true"
          cdkFocusInitial
          mat-flat-button
          color="primary"
          [disabled]="quantityFormControl.invalid"
          (click)="ajouterArticle()">Ajouter
  </button>
</mat-dialog-actions>
