<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button routerLink=""
            mat-icon-button
            aria-label="Accueil">
      <mat-icon fontSet="fa"
                class="fa-2x"
                fontIcon="fa-house"/>
    </button>

    <span class="spacer"></span>
    <button routerLink="panier"
            mat-icon-button
            [matBadge]="(panier$ | async)?.totalArticle"
            matBadgePosition="above after"
            matBadgeSize="medium"
            matBadgeColor="accent"
            aria-label="Panier">
      <mat-icon fontSet="fa"
                class="fa-2x"
                fontIcon="fa-cart-shopping"/>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
